.cr-form form{
    .elementor-message{
        display: none;
    }
    .stars {
        display: flex;
        gap: 6px;
        font-size: 40px;
        cursor: pointer;
        user-select: none;
      }
      .star {
        color: #ccc;
        transition: color 0.15s ease;
      }
      .star.active {
        color: gold;
      }
}